<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="home_style.css">
        <title>Culinária Jardim</title>
        
        <link rel="shortcut icon" href="images/prato.png" type="image/png">
        <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
        
    </head>

    <body>

        <nav class="sidebar">
        
            <div class="logo">
              
                <span class="logo_image">
                    
                    <img src="images/logo_image.png" alt="Culinária Jardim" />
                
                </span>
                
                <span class="logo_name"> Culinária Jardim </span>
              
            </div>
    
            <div class="menu_container">
    
                <div class="menu_items">
    
                    <ul class="menu_item">
    
                        <div class="menu_title">
        
                            <span class="title">Pedidos</span>
                            <span class="line"></span>
            
                        </div>
        
                        <li class="item">
        
                            <a href="#" class="link">
            
                                <i class='bx bx-shopping-bag'></i>
                                <span>Cestinha</span>
                
                            </a>
        
                        </li>
        
                        <li class="item">
            
                            <a href="#" class="link">
            
                                <i class='bx bx-history' ></i>
                                <span>Histórico de Pedidos</span>
                
                            </a>
            
                        </li>
    
                    </ul>
    
                    <ul class="menu_item">
    
                        <div class="menu_title">
    
                            <span class="title">Opções do Usuário</span>
                            <span class="line"></span>
    
                        </div>
    
                        <li class="item">
    
                            <a href="#" class="link">
    
                                <i class='bx bx-id-card'></i>
                                <span>Dados do Usuário</span>
                
                            </a>
    
                        </li>
    
                        <li class="item">
    
                            <a href="#" class="link">
            
                                <i class='bx bx-log-out'></i>
                                <span>Logout</span>
            
                            </a>
    
                        </li>
    
                    </ul>
    
                </div>
    
            </div>
    
        </nav>

        <div class="content">

            <div class="header">

                <div class="title">
    
                    <h1> Culinária Jardim <img src="images/panela_icone.png"></h1>
                    <p> A opção perfeita você que deseja uma vida saudável, <br>
                    de forma prática e sem sair do conforto do seu lar! </p>
                    
                </div>
    
                <div class="header_image">
       
                    <img src="images/prato.png">
    
                </div>
    
            </div>

            <div class="categorias">

        
                <button class="botton">Baixas Calorias</button>
                <button class="botton">Sem Glúten</button>
                <button class="botton">Sem Lactose</button>
                <button class="botton">Baixo Índice Glicêmico</button>
                <button class="botton">Vegetariano</button>
                <button class="botton">Vegano</button>
                <button class="botton">Low Carb</button>
                <button class="botton">Rico em Proteínas</button>
                <button class="botton">Baixo Sódio</button>
                
                <div class="search_box">
                    
                    <input type="text" placeholder="Pesquise seu prato...">
                    
                    <div class="search_icon">
                    
                        <i class='bx bx-search'></i>
                
                    </div>
                    
                </div>
        
            </div>
            
            <div class="menu">

                <div class="card">
    
                    <img src="images/prato.png" alt="Prato do Restaurante" class="card_image">
                    
                    <div class="content_card">
                      
                        <h2>Título do Prato</h2>
                        <p class="price">Preço: R$ 19,99</p>
                        <button class="botton">Detalhar</button>
                    
                    </div>
                
                </div>
    
            </div>

        </div>
        
    </body>

</html>