<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Culinária Jardim | Login</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Criar conta</h1>
                <input type="text" placeholder="Nome" id="nome" required>
                <input type="email" placeholder="Email" id="email" required>
                <input type="text" placeholder="Telefone" id="telefone" required>
                <input type="text" placeholder="Bairro" id="bairro" required>
                <input type="text" placeholder="Rua" id="rua" required>
                <input type="text" placeholder="Numero da casa" id="n_casa" required>
                <input type="text" placeholder="Senha" id="senha" required>
                <button onclick="cadastrar()">Cadastrar</button>
            </form>
        </div>
        <div class="form-container entrar">
            <form>
                <h1>Login</h1>
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Senha">
                <button>Entrar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Vamos conhecer o Culinária Jardim!</h1>
                    <button class="hidden" id="login">Login</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h2>Olá!</h2>
                    <h2> Faça seu cadastro no Culinária Jardim! </h2>
                    <button class="hidden" id="register">Cadastre-se</button>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body> 

</html>